.Icon {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.Icon:hover {
    cursor: pointer;
}

.Icon::before,
.Icon::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.Edit {
    transform: rotate(-45deg) scale(var(--ggs, 1));
    width: 14px;
    height: 4px;
    border-right: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: -2px;
}

.Edit::before {
    background: currentColor;
    border-left: 0;
    right: -6px;
    width: 3px;
    height: 4px;
    border-radius: 1px;
    top: 0em;
}

.Edit::after {
    width: 8px;
    height: 7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid;
    left: -11px;
    top: -2px;
}

.Delete {
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}

.Delete::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

.Delete::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}

.Add {
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 4px;
}

.Add::after,
.Add::before {
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}

.Add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

.Follow {
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs, 1));
    background:
        linear-gradient(to left,
            currentColor 22px,
            transparent 0) no-repeat center/16px 2px,
        radial-gradient(circle,
            currentColor 60%,
            transparent 40%) no-repeat right center/2px 2px
}

.Follow::after,
.Follow::before {
    width: 10px;
    height: 8px;
    border-right: 4px solid;
    box-shadow: -4px -3px 0 -2px;
}

.Follow::before {
    border-top-right-radius: 2px;
    top: 0;
    transform:
        perspective(10px) rotateX(10deg) skewX(30deg);
}

.Follow::after {
    border-bottom-right-radius: 2px;
    bottom: 0;
    transform:
        perspective(10px) rotateX(-10deg) skewX(-30deg);
}